

table{
    border="1" cellspacing="0"
}

td{
    text-align: center;
}

tr#row1{
    font-weight: bold;
    background-color: lightblue;
}
div#second.container{
border-radius:25px;

}